* {
    padding: 0;
    margin: 0;
}

/* Color themes */

body {
    background-color: #181818;
    
}
p {
    color: #B0B0B0;
}
h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}
.container {
    background-color: #121212;
}
button {
    background-color: #AAFF00;
    color: #000;
}
input {
    background-color: #fff;
}

.switch {
    background-color: #fff;
}

.switch_indicator {
    background-color: #AAFF00;
}

/* Main css */

body {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.container {
    position: relative;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

form input {
    margin-bottom: 5px;
    border-radius: 4px;
    color: white;
}

form input::placeholder {
    text-align: center;
}

.submit {
    border-radius: 5px;
    height: 4vh;
    margin-top: 5px;
    width:20vw;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
}

.greeting {
    text-align: center;
}

.name {
    width: 35vw;
    height: 2.5vh;
}

.password {
    width: 30vw;
    height: 2.5vh;
}

.form_switcher {
    display: flex;
    width: 35vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.switch {
    width: 6vw;
    height: 4vw;
    border-radius: 10vw;
    display: flex;
    align-items: center;

}

.switch_indicator {
    position: relative;
    width: 48%;
    height: 80%;
    border-radius: 50%;
    margin-left: 0.4vw;
    transition: 0.5s;
}

.flash.success {
    color: #AAFF00;
}
.flash.error {
    color: red;
}